/*
div {
  border: 1px dashed red;
}
*/

.assembly-Instruction {
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}


/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}


.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
 /* max-width: 600px;*/
  height: 180px;
  text-align: center;
  overflow-y: auto;
  margin: 0px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.25);
  border: 2px grey;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.slide-Card {
  padding:6px ;
}

.slide-Picture {
    width: 120px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: none;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

.slide-Picture.selected {
  border: 2px solid #4285f4;
}

.slide-Picture:focus {
  outline: none;
}

.slide-Picture:hover {
  outline: 2px solid #4285f4;
}

.slide-Picture:focus-visible {
  outline: 1px solid #4285f4;
}

.slide-Describe {
  scroll-snap-align: none;
  flex-shrink: 0;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top:6px ;
}



.header {
  display: flex;
  max-width: 600px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0px;
  z-index:2;
  margin: 0 auto;
}

.header-image {
  height:2.5em;
}


.arrow-Slide {
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/Group%203%20(3).svg?v=1670247507842");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #ffffff;
  display: block;
}



.A3d__btn {
  margin: 2px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.A3d__btn:hover,
.A3d__btn:focus {
  background-color: rgba(255, 255, 255, 1);
}



.btn-Row .A3d__btn {
  padding: 6px;
  margin: 2px;
  width: 60px;
  height: 40px;
}


#A3d__viewer {
  min-height: 400px;
width:100%;
  margin: 0 auto;
  background-color: #e7e2dd;
}


.rol {
  position: absolute;
  margin: 10px;
  top: 2px;
  left: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}

/* Safari syntax */
:-webkit-full-screen {
  background-color: white;
}

/* IE11 */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}
.ar {
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 250px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.fullScreen {
  position: absolute;
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/open_in_full.svg?v=1668446191149");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 11px;
  top: 20px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border: 1px grey;
  display: block;
   background-color: rgba(255, 255, 255, 0.1);
}

.exit-Fullscreen {
  position: absolute;
  background-color: white;
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/close_fullscreen.svg?v=1668446190770");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 10px;
  top: 20px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border: 1px grey;
  display: none;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: transparent;
}

.progress {
  position: absolute;
  width: calc(100% / 3);
  height: 10px;
  color: green;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
  border: 2px solid currentColor;
  border-radius: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 100% / 6);
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}

.progress.show {
  transition-delay: 0s;
  opacity: 1;
}

.progress > .bar {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transform-origin: top left;
  transform: scaleX(0);
}


.viewer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

select {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  margin: 4px 4px;
  padding: 5px;
  border-radius: 24px;
  cursor: pointer;
}


/* scrollbar  */
.viewer ::-webkit-scrollbar {
  height: 10px;
  border-radius: 5px;
}


.viewer ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

.viewer ::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
  
}


.viewer ::-webkit-scrollbar-thumb:hover {
  background: black; 
}

#usedTools {
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/screw-icon.svg?v=1671275040628");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 12;
  cursor: pointer;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

#tools {
  display: flex; /* Use flexbox to align items horizontally */
  flex-wrap: wrap; /* Allows wrapping if the items overflow */
  justify-content: start; /* Align items to the start (left) */
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 580px;
  max-height: 390px;
  overflow-x: auto; /* Changed to auto for horizontal scrolling if needed */
  margin: 8px;
  position: relative;
  border-radius: 16px;
}

.usedName
 {
  width: 96px;
  display: block; /* Display as block for consistent layout */
  margin: 0 auto; /* Center the image horizontally in its container */
}

/* tools*/
.img-tools {
  width: 96px;
  height: 150px;
  display: block; /* Display as block for consistent layout */
  margin: 0 auto; /* Center the image horizontally in its container */
}

/* tools*/
.tool-item {
  display: flex; /* Use flex to align items vertically inside each tool-item */
  flex-direction: column;
  align-items: center; /* Centers the image and text */
  margin: 8px; /* Add some spacing between tool items */
}

.tool-item p {
  font-size: 10px; /* Set a small font size for miniature text */
}
