
.pt-7 {
  padding-top: 3rem !important;
}

body {
 background-image: linear-gradient(180deg, #eeeeee, #ffffff 50px, #ffffff);
 background-repeat: no-repeat;
 margin-top: 1.25rem;
}


.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -0.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}

footer {
  background: linear-gradient(to bottom, #f0f0f0 , #ffffff 20px);
  
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}

.res-img {
  max-width: 100%;
  height: auto;
  max-height:300px;
}

.blue100 {
  background-color:#cff4fc;
}


/*
inserted from index3d
*/
model-viewer {
  width:340px;
  height:340px;
   margin: 0 auto;
}


.btn {
  margin: 2px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px grey;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: rgba(255, 255, 255, 1);
}

.btn-Row {
  padding: 4px 4px;
  margin: 10px 10px;
}

.btn-Row .btn {
  padding: 6px;
  margin: 2px;
  width: 40px;
  height: 40px;
}
.progress {
  position: absolute;
  width: calc(100% / 3);
  height: 10px;
  color: green;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
  border: 2px solid currentColor;
  border-radius: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 100% / 6);
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}

.progress.show {
  transition-delay: 0s;
  opacity: 1;
}

.progress > .bar {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transform-origin: top left;
  transform: scaleX(0);
}



.animation-Toolbar {
    display: flex;               /* Use flexbox to arrange items */
    justify-content: center;     /* Center items horizontally */
    align-items: center;         /* Center items vertically */
    gap: 8px;                    /* Optional: Add space between items */
    height: 60px; 
      position: absolute;          /* Position the toolbar at the bottom */
    bottom: 0;                   /* Align at the bottom of the parent container */
    left: 0;                     /* Align to the left edge */
    right: 0; /* Set a specific height for the toolbar */      /* Center items vertically */

}

.anim-Range {
cursor: pointer;
 margin-left: 10px;



}

.play {
  position: relative;
  cursor: pointer;
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/play_arrow.svg?v=1668438444401");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

.pause {
  position: relative;
  cursor: pointer;
  background-image: url("https://cdn.glitch.global/1540ff5d-0f8c-4dfa-b217-fdbbdafefb7d/pause%20(1).svg?v=1670758874528");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

/* Keyframe animation for rotating gradient */
@keyframes rotateGradient {
  0% {
    background-position: 0% 0%; /* Start position */
  }
  100% {
    background-position: 100% 100%; /* End position */
  }
}

/* Radial gradient text with rotation */
.text-primary-500 {
    background: radial-gradient(circle, #0d6efd, #ffffff, #0d6efd);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotateGradient 2s linear infinite;
    background-repeat: no-repeat;
}








/*
inserted from A3d
*/

.assembly-Instruction {
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}


.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
 /* max-width: 600px;*/
  height: 180px;
  text-align: center;
  overflow-y: auto;
  margin: 0px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.25);
  border: 2px grey;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.slide-Card {
  padding:6px ;
}

.slide-Picture {
    width: 120px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: none;
    display: flex;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

.slide-Picture.selected {
  border: 2px solid #4285f4;
}

.slide-Picture:focus {
  outline: none;
}

.slide-Picture:hover {
  outline: 2px solid #4285f4;
}

.slide-Picture:focus-visible {
  outline: 1px solid #4285f4;
}

.slide-Describe {
  scroll-snap-align: none;
  flex-shrink: 0;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top:6px ;
}



.header {
  display: flex;
  max-width: 600px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top:0px;
  z-index:2;
  margin: 0 auto;
}

.header-image {
  height:2.5em;
}


.arrow-Slide {
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/Group%203%20(3).svg?v=1670247507842");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  height: 50px;
  width: 50px;
  position: relative;
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid #ffffff;
  display: block;
}



.A3d__btn {
  margin: 2px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
.A3d__btn:hover,
.A3d__btn:focus {
  background-color: rgba(255, 255, 255, 1);
}



.btn-Row .A3d__btn {
  padding: 6px;
  margin: 2px;
  width: 60px;
  height: 40px;
}


#A3d__viewer {
  min-height: 400px;
width:100%;
  margin: 0 auto;
  background-color: #e7e2dd;
}


.rol {
  position: absolute;
  margin: 10px;
  top: 2px;
  left: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 14px;
}

/* Safari syntax */
:-webkit-full-screen {
  background-color: white;
}

/* IE11 */
:-ms-fullscreen {
  background-color: white;
}

/* Standard syntax */
:fullscreen {
  background-color: white;
}
.ar {
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 250px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.fullScreen {
  position: absolute;
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/open_in_full.svg?v=1668446191149");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 11px;
  top: 20px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border: 1px grey;
  display: block;
   background-color: rgba(255, 255, 255, 0.1);
}

.exitFullscreen {
  position: absolute;
  background-color: white;
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/close_fullscreen.svg?v=1668446190770");
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  right: 10px;
  top: 20px;
  z-index: 100;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  border: 1px grey;
 
}


/* Style the collapsible content. Note: hidden by default */


.progress {
  position: absolute;
  width: calc(100% / 3);
  height: 10px;
  color: green;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
  border: 2px solid currentColor;
  border-radius: 10px;
  top: calc(50% - 5px);
  left: calc(50% - 100% / 6);
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}

.progress.show {
  transition-delay: 0s;
  opacity: 1;
}

.progress > .bar {
  width: 100%;
  height: 100%;
  background-color: currentColor;
  transform-origin: top left;
  transform: scaleX(0);
}


.viewer {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

select {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  margin: 4px 4px;
  padding: 5px;
  border-radius: 24px;
  cursor: pointer;
}


/* scrollbar  */
.viewer ::-webkit-scrollbar {
  height: 10px;
  border-radius: 5px;
}


.viewer ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

.viewer ::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 5px;
  
}


.viewer ::-webkit-scrollbar-thumb:hover {
  background: black; 
}

#usedTools {
  background-image: url("https://cdn.glitch.global/82e9051b-34b9-4596-8cb8-f6f8421193ef/screw-icon.svg?v=1671275040628");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 70px;
  right: 10px;
  z-index: 12;
  cursor: pointer;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.25);
}

#tools {
  display: flex; /* Use flexbox to align items horizontally */
  flex-wrap: wrap; /* Allows wrapping if the items overflow */
  justify-content: start; /* Align items to the start (left) */
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 580px;
  max-height: 390px;
  overflow-x: auto; /* Changed to auto for horizontal scrolling if needed */
  margin: 8px;
  position: relative;
  border-radius: 16px;
}

.usedName
 {
  width: 96px;
  display: block; /* Display as block for consistent layout */
  margin: 0 auto; /* Center the image horizontally in its container */
}

/* tools*/
.img-tools {
  width: 100%;               /* Set width to 100% to make it responsive */
  max-width: 96px;          /* Maintain the maximum width */
  height: auto;             /* Set height to auto to maintain aspect ratio */
  display: block;           /* Display as block for consistent layout */
  margin: 0 auto;           /* Center the image horizontally in its container */
  transition: transform 0.2s; /* Optional: Add a transition for hover effects */
}

/* tools*/
.tool-item {
  display: flex; /* Use flex to align items vertically inside each tool-item */
  flex-direction: column;
  align-items: center; /* Centers the image and text */
  margin: 8px; /* Add some spacing between tool items */
}

.tool-item p {
  font-size: 10px; /* Set a small font size for miniature text */
}


